<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.newWizards">
<!--      <primaryWizard
            id="org.jboss.bpmn2.editor.ui.diagram">
      </primaryWizard>-->
      <category
            id="org.jboss.bpmn2.editor.ui.mainCategory"
            name="BPMN2">
      </category>
      <wizard
            category="org.jboss.bpmn2.editor.ui.mainCategory"
            class="org.jboss.bpmn2.editor.ui.wizards.BPMN2DiagramWizard"
            icon="icons/bpmn2_editor_16.png"
            id="org.jboss.bpmn2.editor.ui.diagram"
            name="BPMN2 Diagram">
      </wizard>
   </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.jboss.bpmn2.editor.ui.editor.BPMN2Editor"
          contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
          default="true"
          extensions="bpmn2"
          icon="icons/bpmn2_editor_16.png"                  
          id="org.jboss.bpmn2.editor.ui.bpmn2editor"          
          name="BPMN2 Visual Editor">
    </editor>
 </extension>
 
 
<extension point="org.eclipse.core.contenttype.contentTypes">
	<content-type base-type="org.eclipse.core.runtime.properties"
		file-extensions="bpmn2"
		id="org.jboss.bpmn2.filetype" name="BPMN2 File" priority="normal">
	</content-type>
</extension>

 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="org.jboss.bpmn2.editor.ui.preferences.ToolEnablementPropertyPage"
          id="org.jboss.bpmn2.editor.ui.toolEnablement"
          name="BPMN2">
    </page>
      <page name="BPMN2"
             class="org.jboss.bpmn2.editor.ui.preferences.ToolEnablementPropertyPage"
             id="org.jboss.bpmn2.editor.ui.toolEnablement2">
          <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
             <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
        </adapt>
          </enabledWhen>
       </page>
 </extension>

 
 <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
          <propertyContributor contributorId="BPMN2.PropertyContributor">
              <propertyCategory category="BPMN2">
              </propertyCategory>
          </propertyContributor>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
          <propertyTabs contributorId="BPMN2.PropertyContributor">
              <propertyTab
                    category="BPMN2"
                    id="bpmn2.main.tab"
                    label="BPMN2">
              </propertyTab>
              <propertyTab
                    afterTab="bpmn2.advanced.tab"
                    category="BPMN2"
                    id="bpmn2.advanced.tab"
                    label="Advanced">
              </propertyTab>
              
          </propertyTabs>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
          <propertySections contributorId="BPMN2.PropertyContributor">
              <propertySection
                    class="org.jboss.bpmn2.editor.ui.property.Bpmn2MainPropertySection"
                    filter="org.jboss.bpmn2.editor.ui.property.Bpmn2PropertyFilter"
                    id="bpmn2.main.tab.id"
                    tab="bpmn2.main.tab">
              </propertySection>
              <propertySection
                    class="org.jboss.bpmn2.editor.ui.property.AdvancedPropertySection"
                    filter="org.jboss.bpmn2.editor.ui.property.Bpmn2PropertyFilter"
                    id="bpmn2.advanced.tab"
                    tab="bpmn2.advanced.tab">
              </propertySection>
          </propertySections>
      </extension>
</plugin>
