<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="org.jboss.bpmn2.editor.ui.diagramWizard">
      </primaryWizard>
      <category
            id="org.jboss.bpmn2.editor.ui.mainCategory"
            name="BPMN2">
      </category>
      <wizard
            category="org.jboss.bpmn2.editor.ui.mainCategory"
            class="org.jboss.bpmn2.editor.ui.wizards.BPMN2DiagramWizard"
            icon="icons/sample.gif"
            id="org.jboss.bpmn2.editor.ui.diagramWizard"
            name="BPMN2 Diagram Wizard">
      </wizard>
   </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.jboss.bpmn2.editor.ui.editor.BPMN2Editor"
          default="true"
          extensions="bpmn2d"
          id="org.jboss.bpmn2.editor.ui.bpmn2editor"
          name="BPMN2 Editor">
    </editor>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="org.jboss.bpmn2.editor.ui.preferences.ToolEnablementPropertyPage"
          id="org.jboss.bpmn2.editor.ui.toolEnablement"
          name="BPMN2"
          objectClass="org.eclipse.core.resources.IProject">
    </page>
 </extension>
<!-- <extension
       point="org.eclipse.ui.views">
    <category
          id="org.jboss.bpmn2.editor.ui"
          name="BPMN2">
    </category>
    <view
          category="org.jboss.bpmn2.editor.ui"
          class="org.jboss.bpmn2.editor.ui.views.BPMN2ModelView"
          icon="icons/sample.gif"
          id="org.jboss.bpmn2.editor.ui.views.BPMN2ModelView"
          name="BPMN2 Model View">
    </view>
 </extension> 
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <view
             id="org.jboss.bpmn2.editor.ui.views.BPMN2ModelView"
             ratio="0.5"
             relationship="right"
             relative="org.eclipse.ui.views.TaskList">
       </view>
    </perspectiveExtension>
 </extension> -->
 
 <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
          <propertyContributor contributorId="BPMN2.PropertyContributor">
              <propertyCategory category="BPMN2">
              </propertyCategory>
          </propertyContributor>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
          <propertyTabs contributorId="BPMN2.PropertyContributor">
              <propertyTab
                    category="BPMN2"
                    id="bpmn2.main.tab"
                    label="BPMN2">
              </propertyTab>
              <propertyTab
                    afterTab="bpmn2.main.tab"
                    category="BPMN2"
                    id="bpmn2.jbpm.tab"
                    label="jBPM">
              </propertyTab>
          </propertyTabs>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
          <propertySections contributorId="BPMN2.PropertyContributor">
              <propertySection
                    class="org.jboss.bpmn2.editor.ui.property.Bpmn2AdvancedPropertySection"
                    filter="org.jboss.bpmn2.editor.ui.property.Bpmn2PropertyFilter"
                    id="bpmn2.main.tab.id"
                    tab="bpmn2.main.tab">
              </propertySection>
              <propertySection
                    class="org.jboss.bpmn2.editor.ui.property.JbpmPropertySection"
                    filter="org.jboss.bpmn2.editor.ui.property.Bpmn2PropertyFilter"
                    id="bpmn2.jbpm.tab."
                    tab="bpmn2.jbpm.tab">
              </propertySection>
          </propertySections>
      </extension>
</plugin>
