<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.jboss.bpmn2.editor.custom_task" name="Custom Task" schema="schema/org.jboss.bpmn2.editor.exsd"/>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is the diagram type for the BMPN2 diagram"
            id="org.jboss.bpmn2.editor.core.diagram.MainBPMNDiagramType"
            name="BPMN2 Diagram Type"
            type="BPMN2">
      </diagramType>
   </extension>
   
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.jboss.bpmn2.editor.core.diagram.MainBPMNDiagramTypeProvider"
            description="This is the editor for the BPMN2 diagram"
            id="org.jboss.bpmn2.editor.core.diagram.MainBPMNDiagramType"
            name="BPMN2 Editor">
         <diagramType
               id="org.jboss.bpmn2.editor.core.diagram.MainBPMNDiagramType">
         </diagramType>
         <imageProvider
               id="org.jboss.bpmn2.editor.core.ImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.jboss.bpmn2.editor.core.ImageProvider"
            id="org.jboss.bpmn2.editor.core.ImageProvider">
      </imageProvider>
   </extension>
</plugin>
